

html{
  font-size:100%;
  margin:0;
}

body{
  margin:0;
  font-family: 'Noto Serif JP', serif;
  line-height:1.7;
  background: #d9ece8;
}

img{
  max-width:100%;
}

header{
  font-family: 'Noto Serif JP', serif;
  line-height:1.7;
  color:#fff;
  text-shadow: 2px 2px 5px #f185ae;
}

a{
  color:#fff;
  text-decoration: none;
}

.wrapper{
  max-width:1100px;
}

main{
  color:#000;
  line-height:1.7;
}

h1, h2, h3, h4, p{
  margin:0;
  padding:0;
}


/* -------メニューリスト------ */


.main-nav{
  padding:0;
  display:flex;
  justify-content: center;
  list-style: none;
  margin-top:2rem;
  margin-bottom:4rem;
  font-size:1rem;
  text-transform: uppercase;
}

.main-nav li{
  font-size:1.25rem;
  margin-left:2rem;
  margin-right:2rem;
}

.main-nav a:hover{
  color:rgba(247, 0, 255, 0.603);
  opacity:0.5;
  transition:.5s;
}

.logo{
  width:30%;
}



/* -----ホーム------ */


#home{
  background-image: url(../image/j-lee-GV8TZtW4SYA-unsplash.jpg);
  min-height:100vh;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home h1{
  text-align: center;
  margin:4.5rem 0 2.5rem;
  font-size: 10rem;
  width:auto;
}

@media(max-width:800px){
  #home h1{
    font-size:7rem;
  }
}

.index{
  padding-bottom: 6rem;
}

.tobirae{
  text-align: center;
  position:relative;
}

.tobirae img{
  width:40%;
  box-shadow: 5px 5px 20px #cbfff3;
  border:1px solid #ffffff;
  opacity:0.5;
  transition:0.4s ease-out;
}

.tobirae img:hover{
  opacity:1;
  transition:0.6s;
}





/* ------企業情報------ */

.philosophy{
  font-family: 'Noto Serif JP', serif; 
  display: flex;
  justify-content: space-around;
  margin:10rem 0;
}

.philosophy-title{
  width:60%;
  padding:8rem 5rem 8rem 8rem;
}

.philosophy-title h1{
  font-size: 2.5rem;
  border-style: solid;
  border-image: linear-gradient(to left,  #9cf1d4 0%, #f098d4 100%) 1/0 0 1px 0;
  margin-bottom: 3rem;
}

.philosophy-title h2{
  font-size:1.5rem;
}

.philosophy-title h3{
  font-size: 1.25rem;
}

.philosophy-title p{
  font-size:0.85rem;
}

.philosophy-img{
  width:40%;
  padding:3rem 3rem 3rem 1rem;
}

.philosophy-img img{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* ------メンバー----- */


.members{
  background: -moz-linear-gradient(#d9ece8,#eecfe6);
  background: -webkit-linear-gradient( #d9ece8,#eecfe6);
  background: linear-gradient(#d9ece8,#eecfe6);
}

.profile{
  padding:30rem 4rem 20rem;
  border-bottom: 2px solid #fff;
}

.profile img{
  width:100%;
}

.profile section{
  display:flex;
  justify-content: space-between;
  padding-bottom: 15rem;
}

.profile section:nth-child(even){
  flex-direction: row-reverse;
}

.members-pic{
  width:60%;
  margin:0;
}

.members-info{
  width:40%;
  margin:0;
  font-family: 'Noto Serif JP', serif;
}

.odd{
  padding-left:30px;
}

.even{
  padding-right:30px;
}

.odd h2{
  font-size:2rem;
  text-align: right;
  padding:4rem 2rem 0 0;
  border-style: solid;
  border-image: linear-gradient(to left,  silver 0%, #fff 100%) 1/0 0 1px 0;
}

.even h2{
  font-size:2rem;
  padding:4rem 0 0 2rem;
  border-style: solid;
  border-image: linear-gradient(to right,  silver 0%, #fff 100%) 1/0 0 1px 0;
}

.odd p{
  font-size:0.85rem;
  padding-top:2rem;
  float: right;
}

.even p{
  font-size:0.85rem;
  padding-top:2rem;
}



/* ------会社概要------ */

.overview{
  text-align: center;
  background-image: url(../image/overviewcloud.jpg);
  min-height:100vh;
  padding-top: 10rem;
}

.overview-title{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  color:#fff;
  text-shadow:1px 1px 2px rgb(26, 72, 110);
}

.overview h1{
  font-size: 2.5rem;
  border-style: solid;
  border-image: linear-gradient(to right,  #9cf1d4 0%, #f098d4 100%) 1/0 0 1px 0;
  margin-bottom:3rem;
}

.overview h2{
  font-size: 1.5rem;
}

table{
  border: 2px rgba(255, 255, 255, 0) solid;
  font-family:unset;
  width: 90%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px #d9ece8;
}

table tr{
  border-bottom: solid 1px rgba(255, 255, 255, 0.534);
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #eecfe641;
  color:#fff;
  text-shadow:1px 1px 2px rgb(26, 72, 110);
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #eecfe659;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  color:#fff;
  text-shadow:1px 1px 2px rgb(26, 72, 110);
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.39);
  padding: 10px 0;
}

.copyright p{
  text-align: center;
  margin:0;
  padding:3rem 0 4rem;
  color:#fff;
  text-shadow:1px 1px 2px rgb(26, 72, 110);
}




/* ----------沿革ナビリスト---------- */



.head{
  display:flex;
}

.sp-menu{
  margin-left: auto;
}

.sp-menu #open{
  position:fixed;
  left:auto;
  top:34px;
  font-size: 40px;
  right:3%;
  cursor: pointer;
  color:#fff;
  opacity:.6;
}

.sp-menu #open:hover{
  opacity: 1;
  transition: .6s;
}

.sp-menu #open.hide{
  display: none;
}

.overlay{
  width:100%;
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background: -moz-linear-gradient(bottom, #eecfe659 20%,#13536659);
  background: -webkit-linear-gradient(bottom, #eecfe659 20%,#13536659);
  background: linear-gradient(to top,#eecfe659 20%,#13536659);
  margin-left: auto;
  opacity:0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show{
  opacity: 1;
  pointer-events: auto;
}

.overlay #close{
  position: absolute;
  left:auto;
  top:34px;
  font-size: 40px;
  right:3%;
  color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition:.6s;
}

.overlay #close:hover{
  opacity: 1;
  transition: .6s;
}

.overlay ul{
  height: 100%;
  top:0;
  margin:0;
  padding:0;
  font-size:1.25rem;
  list-style: none;
  padding:50px 44px;
  display: flex;
  justify-content: center;
}

.overlay li{
  padding:0 2rem;
  transform:translateY(-3rem);
  transition:opacity .3s, transform 1s;
}

.overlay.show li{
  opacity:1;
  transform: none;
}

.overlay li a{
  color:#fff;
  font-weight: bold;
  opacity: 80%;
}

.overlay li a:hover{
  opacity: 1;
  transition: .3s;
}


/* -------沿革--------- */

#history{
  background-image: url(../image/overviewplant.png);
  min-height:100vh;
}

.history{
 margin-top:8rem;
 text-align: center;
 color:#fff;
  text-shadow: 1px 1px 2px rgb(26, 72, 110);
}

.history-title{
  width:60%;
  margin-left: auto;
  margin-right: auto;
}

.history-title h1{
  font-size: 2.5rem;
  border-style: solid;
  border-image: linear-gradient(to left,  #9cf1d4 0%, #f098d4 100%) 1/0 0 1px 0;
  margin-bottom: 3rem;
}

.history-title h2{
  font-size:1.5rem;
}

.historycontainer{
  margin: 0 auto 5rem;
}

.historycontainer li{
  width:80%;
  display: flex;
  border-bottom: 1px solid #fff;
  border-image: linear-gradient(to right,  rgb(139, 138, 138) 0%, #fff 100%);
  border-image-slice: 1;
  margin-left: auto;
  margin-right: auto;
  
}

.historycontainer h4{
  width:40%;
  padding:2rem 1rem 2rem 0;
}

.historycontainer p{
  width:60%;
  padding:2rem 0 2rem 1rem;
}






/* ------お問い合わせフォーム-------- */


#contactform{
  background-image: url(../image/overviewsky.jpg);
  min-height:100vh;
}

.contact-main {
  margin-top: 8rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(26 72 110);
}

.container {
  padding: 0 50px;
}

.contact-title {
  text-align: center;
  width:60%;
  margin-left: auto;
  margin-right: auto;
}

.contact-title h1 {
  font-size:2.5rem;
  border-style: solid;
  border-image: linear-gradient(to right, #9cf1d4 0%, #f098d4 100%) 1/0 0 1px 0;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.contact-title h2{
  font-size: 1.5rem;
}

.contactform{
  margin:5rem 2rem;
  background-color: rgba(255, 255, 255, 0.212);
  padding: 3rem 4rem 6rem;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 70px;
  border-radius:3px;
}

.contactform h3{
  margin:2rem 0;
  font-size:16px;
}

.contactform input.form-fields,
.contactform button.form-fields,
.contactform textarea.form-fields {
  padding: 0 0 0 40px;
  display: block;
  box-sizing: border-box;
  width: 350px;
  font-size: 1rem;
  background: #f185ae69;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  border-radius:3px;
  color: #fff;
  opacity: 0.8;
  min-height: 45px;
  text-shadow: none;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contactform textarea.form-fields {
  padding: 10px 40px;
  resize: none;
}


.contactform .contactform button.form-fields.button {
  opacity: .7;
  font-size: 14px;
  padding: 0;
  text-transform: uppercase;
}

.contactform .contactform button.form-fields.button:hover {
  background:#f185ae69;
  cursor: pointer;
  opacity: 1;
  transition: .2s;
}


.contactform .contactform button.form-fields.button i {
  margin-left:10px;
  text-align: center;
}

.contactform .contactform h5 {
  font-size: 1rem;
  margin:2rem 0
}

.material-icons:not(#open, #close){
  position:relative;
  top:2.7rem;
  left:-9.5rem;
  opacity: 2;
}

.material-icons{
  z-index: 20;
}

.gradient4{
  background:#f185ae69;
  display: inline-block;
  opacity:0.6;
  margin-top: 3rem;
  padding: 1rem 5rem;  
  text-decoration: none;
  border:1px solid #fff;
  border-radius:3px;
  color: #fff;
  outline: none;
  transition: all 0.4s ease-out;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gradient4:hover{
  border-color:transparent;
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size: 200% auto;
  background-position: right center;
  opacity:1;
  transition:0.4s;
} 




@media (max-width:650px){

.none{display:none}


/* ------ホーム------- */

#home h1{
  font-size:4rem;
}
.logo{
  width:60%;
}
.page-header{
  text-align: center;
  margin-bottom: 2rem;
}
.main-nav{
  display:block;
  text-align: center;
}
.main-nav li{
  margin-bottom:1rem;
  font-weight: bold;
}
.tobirae img{
  width:80%;
}
.philosophy{
  width:100%;
  display: block;
  margin-top:0;
  margin-bottom: 0;
}
.philosophy-title{
  margin:0;
  width:auto;
  padding:8rem 2rem;
  text-align: center;
}
.philosophy-title h1{
  font-size: 2rem;
}
.philosophy-title h2{
  font-size: 1.3rem;
}
.philosophy-title h3{
  margin-bottom:1rem;
}
.philosophy-title h4{
  margin:15px 0;
  font-weight: normal;
}
.philosophy-img{
  display:none;
}
.profile{
  padding:8rem 2rem;
}
.profile section{
  display:block;
  padding-bottom: 0;
}
.profile section:nth-child(even){
  flex-direction: row;
}
.members-pic{
  width:100%;
}
.members-info{
  width:100%;
  padding:0;
}
.members-info h2{
  text-align: left;
  padding: 1rem 0;
  font-size:1.5rem;
}
.members-info p{
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.overview{
  padding: 8rem 2rem 0;
}
.overview-title{
  width:100%;
}
.overview-title h1{
  font-size: 2rem;
}
.overview-title h2{
  font-size: 1.3rem;
}
.scroll{
  overflow-x:auto;
}
table{
  min-width:645px;
  margin:0 10px 50px;
  font-size:0.85rem;
}
table td{
  border-top:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
}



/* -------沿革--------- */
.history-header {
  text-align: center;
  margin-bottom: 2rem;
}
.history{
  display: block;
  padding-top: 0;
  margin-bottom: 0;
  padding:0 2rem;
}
.history-title{
  margin: 0;
  width: 100%;
  text-align: center;
}
.history-title h1{
  font-size: 2rem;
}
.history-title h2{
  font-size: 1.3rem;
}
.historycontainer li{
  display:block;
  margin:0;
  width:100%;
  margin:0 0 2rem;
  font-size:0.85rem;
  border:none;
}
.historycontainer ul{
  padding:0;
}
.historycontainer h4{
  width:100%;
  font-size:1.2rem;
  padding:0;
  margin-bottom: 1rem;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(139, 138, 138) 0%, #fff 100%) 1/0 0 1px 0;
}
.historycontainer p{
  width:100%;
  padding:0;
}


/* ------ナビリスト------ */

.nav-list{
  flex-direction: column;
}
.overlay{
  opacity: 0;
}
.overlay ul{
  padding:3rem 0 0;
}
.overlay li{
  margin-bottom: 0.4rem;
  transform:translateX(-8rem);
  transition:opacity .3s, transform 1.5s;
  font-size:1.5rem;
}
.overlay.show li:nth-child(1){
  transition-delay: .1s;
}
.overlay.show li:nth-child(2){
  transition-delay: .4s;
}
.overlay.show li:nth-child(3){
  transition-delay: .7s;
}
.overlay.show li:nth-child(4){
  transition-delay: 1s;
}



/* ------お問い合わせフォーム----- */

.contact-main{
  display: block;
  padding-top: 0;
  margin:2rem 0 0;
  padding: 0 1rem;
}
.contact-title{
  margin: 0;
  width: 100%;
  text-align: center;
}
.contact-title h1{
  font-size:2rem;
}
.contact-title h2{
  font-size:1.3rem;
}
.contactform{
  margin:5rem 0 0;
  padding: 2rem 1rem 3rem;
}
.contactform h5{
  font-size:1rem;
}
.contactform input.form-fields, .contactform button.form-fields, .contactform textarea.form-fields{
  width:80%;
  font-size:1rem;
  min-height:2.5rem;
}
.material-icons:not(#open, #close){
  top:2.2rem;
  left:-6.7rem;
  font-size:1rem
}
.gradient4{
  margin-top:2rem;
  padding:0.5rem 4.5rem;
  font-size:1rem;
}
.copyright p{
  padding-bottom: 2rem;
}

}
@media screen and (min-width: 480px){
  .br-sp {display: none; }
  }